---
# {{ ansible_managed }}
version: '3.4'

services:
  redis:
    image: redis:5.0.6

  db:
    image: mysql:8.0.19
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - "MYSQL_USER=misp"
      - "MYSQL_PASSWORD={{ misp_db_password }}"
      - "MYSQL_ROOT_PASSWORD={{ misp_db_root_password }}"
      - "MYSQL_DATABASE=misp"
    volumes:
      - mysql-data:/var/lib/mysql

  misp:
    image: coolacid/misp-docker:core-latest
    depends_on:
      - redis
      - db
    expose:
      - 80
    volumes:
      - "/srv/misp/logs/:/var/www/MISP/app/tmp/logs/"
      - "/srv/misp/config/:/var/www/MISP/app/Config/"
      - "/srv/misp/files/:/var/www/MISP/app/files/"
      - "/srv/misp/certs/:/etc/nginx/certs/"
    environment:
      - "HOSTNAME=https://{{ misp_hostname }}"
      - "REDIS_FQDN=redis"
      - "INIT=true"             # Initialze MISP, things includes, attempting to import SQL and the Files DIR
      - "CRON_USER_ID=1"        # The MISP user ID to run cron jobs as
      - "MYSQL_HOST=db"
      - "MYSQL_USER=misp"
      - "MYSQL_PASSWORD={{ misp_db_password }}" # NOTE: This should be AlphaNum with no Special Chars. Otherwise, edit config files after first run.
      - "MYSQL_DATABASE=misp"
      - "NOREDIR=true"
      - "VIRTUAL_HOST={{ misp_hostname }}"
      - "VIRTUAL_PORT=80"
      - "LETSENCRYPT_HOST={{ misp_hostname }}"
      - "LETSENCRYPT_EMAIL={{ misp_letsencrypt_email }}"

  misp-modules:
    image: coolacid/misp-docker:modules-latest
    environment:
      - "REDIS_BACKEND=redis"
    depends_on:
      - redis
      - db

volumes:
  mysql-data:
    driver: local

networks:
  default:
    external:
      name: "{{ misp_docker_network }}"
